@(terminal : Boolean = true, destroy : Boolean = true)
<script type="text/javascript">
  $(document).ready(function() {
    $("body").on("click", "a.btn.createvm", function() {
      vmRouter.controllers.vm.VirtualMachine.create().ajax({
        success: function(data) {
          $("#createvm-modal").html(data);
          $("#createvm-modal div.modal").modal({
            keyboard: false,
            backdrop: 'static'
          });
        }
      });
    });

    @if(terminal) {
      $("body").on("click", "#vm-list .comment", function() {
        var terminal = $(this).parent().find(".icon-terminal");
        if ($(terminal).length == 0) terminal = $('<i class="icon-terminal icon-3x" style="float: right;"></i>');
        $(terminal).insertBefore($(this).find(".content"));
        
        var id = $(this).attr("id");
        $("#vm-console-output pre").hide();
        $("#vm-console-output ." + id).show();            
      });
    }

    $("#vm-list .vm-ip,.vm-destroy").on("click", function(e) {
      e.stopPropagation();
    });

  });
</script>

<section class="row-fluid">
  <!-- VM List -->
  <div class="span4">
    @vmlist(terminal, destroy)
  </div>
  <!-- / VM list -->
  
  <div id="createvm-modal">
  </div>
  
  <!-- VM Console -->
  <div class="span8">
    <h3 class="box-header">
      <i class="icon-terminal"></i>Console Output
    </h3>
    <div id="vm-console-output" class="box non-collapsible">
      @**<pre class="" class="pre-scrollable">
      <i class="icon-spinner icon-spin"></i>
      </pre>**@
    </div>
  </div>
  <!-- / VM Console -->
</section>
@footer()