@(terminal : Boolean = true, destroy : Boolean = true, list : Html)
<h3 class="box-header">
  <i class="icon-linux"></i>Virtual machine instances
</h3>
<div id="vm-list" class="box widget-comments non-collapsible">
  
  @list

  @**<div class="comment" style="cursor: pointer;">
    <i class="vm icon-linux icon-3x" style="float: left; margin-top: 5px;"></i>
    <div class="content">
      <span class="commented-by">
        <a class="vm-ip" href="javascript:void(0);"
          data-content="&lt;i class='icon-spinner icon-spin'&gt;&lt;/i&gt;" data-html="true">
          172.24.4.81
        </a> [#slave-id]
      </span>
      <p><i class="icon-spinner icon-spin"></i> Starting...<p>
      @if(destroy) {
      <span class="actions">
        <a class="vm-destroy" href="javascript:void(0);"><i class="icon-trash"></i>Destroy</a>
      </span>
      }
    </div>
  </div>
  
  <div class="comment" style="cursor: pointer;">
    <i class="vm icon-windows icon-3x" style="float: left; margin-top: 5px;"></i>
    <div class="content">
      <span class="commented-by">
        <a class="vm-ip" href="javascript:void(0);"
          data-content="&lt;i class='icon-spinner icon-spin'&gt;&lt;/i&gt;" data-html="true">
          172.24.4.88
        </a> [#slave-id]
      </span>
      <p id="summary">
        <span style="color: #9BB921">Running...</span><br>
        <span>+ Window server 2008</span><br>
        <span>+ Created at May 7, 2014 10:24 AM</span>
      </p>
      @if(destroy) {
      <span class="actions">
        <a class="vm-destroy" href="javascript:void(0);"><i class="icon-trash"></i>Destroy</a>
      </span>
      }
    </div>
  </div>
  **@
  
  <div class="widget-actions">
    <a class="btn btn-mini btn-primary createvm">Create new instance</a>
  </div>
</div>