@(jobType: String)
<tr>
  <td><a href="javascript:void(0);" data-target="#Job-232455-0">Job-232455-0</a></td>
  <td><span class="label label-warning">Pending</span></td>
  <td>N/A</td>
  <td>
      <a class="@jobType-btn-console btn btn-mini btn-warning">Console</a>
      <a class="btn btn-mini btn-primary disabled">Report</a>
  </td>
  <td>
      <a class="btn btn-mini btn-primary disabled">Run</a>
      <a class="btn btn-mini btn-red">Remove</a>
  </td>
</tr>
<tr>
  <td><a href="javascript:void(0);" data-target="#Job-232455-0">Job-232455-0</a></td>
  <td><span class="label label-info">In progress</span></td>
  <td>N/A</td>
  <td>
      <a class="@jobType-btn-console btn btn-mini btn-warning">Console</a>
      <a class="btn btn-mini btn-primary disabled">Report</a>
  </td>
  <td>
      <a class="btn btn-mini btn-primary disabled">Run</a>
      <a class="btn btn-mini btn-red">Remove</a>
  </td>
</tr>
<tr>
  <td><a href="javascript:void(0);" data-target="#Job-232455-0">Job-232455-0</a></td>
  <td><span class="label label-success">Completed</span></td>
  <td><span class="label label-success">Success</span></td>
  <td>
      <a class="@jobType-btn-console btn btn-mini btn-warning">Console</a>
      <a class="btn btn-mini btn-primary disabled">Report</a>
  </td>
  <td>
      <a class="btn btn-mini btn-primary disabled">Run</a>
      <a class="btn btn-mini btn-red">Remove</a>
  </td>
</tr>
<tr>
  <td><a href="javascript:void(0);" data-target="#Job-232455-0">Job-232455-0</a></td>
  <td><span class="label label-success">Completed</span></td>
  <td><span class="label label-important">Failed</span></td>
  <td>
      <a class="@jobType-btn-console btn btn-mini btn-warning">Console</a>
      <a class="btn btn-mini btn-primary disabled">Report</a>
  </td>
  <td>
      <a class="btn btn-mini btn-primary disabled">Run</a>
      <a class="btn btn-mini btn-red">Remove</a>
  </td>
</tr>