@(jobType: String)
<section class="row-fluid">

  <div class="span4">
    <h3 class="box-header"></h3>
    <ul class="well nav nav-tabs nav-stacked">
      <li class="active">
        <a href="javascript:void(0);">
          <i class="icon-home"></i> All
          <span class="badge pull-right">10</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);">
          <i class="icon-sun"></i> Completed
          <span class="badge pull-right">2</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);">
          <i class="icon-sun"></i> Pending
          <span class="badge pull-right">2</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);">
          <i class="icon-sun"></i> Failded
          <span class="badge pull-right">2</span>
        </a>
      </li>
    </ul>
  </div>
</section>