@(slaves : List[String])

@main(Html("Console")) {
    <ul class="nav nav-tabs" id="myTab">
    @for((slave,i) <- slaves.zipWithIndex) {
      <li class="@("active".when(i == 0))">
        <a id="slave@i" href="#@slave" data-toggle="tab">@slave</a>
      </li>
    }
    </ul>
     
    <div class="tab-content">
      @for((slave,i) <- slaves.zipWithIndex) {
        <div class="tab-pane @("active".when(i == 0))" id="@slave">
          <pre><code id="system-@slave"></code></pre>
        </div>      
      }
    </div>
    
    <div class="form-actions">
      <a class="btn btn-primary" id="report">Report</a>
    </div>
     
    <script type="text/javascript" charset="utf-8">

      @for((slave,i) <- slaves.zipWithIndex) {
        if (@i == 0) {
        	slave@i = setInterval(function() {
                $.ajax({
                  type: "GET",
                  url: "@routes.Console.printOut(slave)",
                  async: false,
                  success: function(data) {
                    $("#system-@slave").append(data);
                  },
                  error: function() {
                    console.log("Abort...............");
                    clearInterval(slave@i);
                    $("#report").prop("href", "http://git.sme.org:8080/job/job-@slave/ws/ui-testsuite/target/surefire-reports/index.html");
                  }
                });
              }, 1500);
        }
      }

      $('a[data-toggle="tab"]').on('shown', function (e) {
    	  @for((slave,i) <- slaves.zipWithIndex) {
        	  if (e.target.id == "slave@i") {
        		  slave@i = setInterval(function() {
                      $.ajax({
                        type: "GET",
                        url: "@routes.Console.printOut(slave)",
                        async: true,
                        success: function(data) {
                          $("#system-@slave").append(data);
                        },
                        error: function() {
                          console.log("Abort....");
                          clearInterval(slave@i);
                          $("#report").prop("href", "http://git.sme.org:8080/job/job-@slave/ws/ui-testsuite/target/surefire-reports/index.html");
                        }
                      });
                    }, 1500);
            } else {
            	clearInterval(slave@i);
            }
    	  }
    	});
    </script>
}