@(jobForm : Form[Job])

@import helper._
@import helper.twitterBootstrap._

@main(Html("Cloud Test Base Service")) {
  @helper.form(action = routes.Wizard.submit(2), 'class -> "form-horizontal") {
    <fieldset>
      <legend>Step 2:</legend>
    <input type="hidden" name="git" value="@jobForm("git").value">
    <div class="control-group">
        <label class="control-label">OS Type</label>
        <div class="controls">
          <ul class="responsive-utilities-test">
            <li>Ubuntu Desktop 12.04<span class="visible-phone">✔ Ubuntu Desktop 12.04</span></li>
            <li>Windows XP SP3</li>
          </ul>
        </div>
      </div>
    
    <div class="control-group">
      <label class="control-label">Hardware</label>
      <div class="controls">
        <select name="service.offering">
          <option value="Small Instance">CPU: 500 MHz / Memory: 512MB</option>
          <option selected="selected" value="Medium Instance">CPU: 1.00 GHz / Memory: 1.00 GB</option>
          <option value="Super Instance">CPU: 2 x 1.00 GHz / Memory: 2.00 GB</option>
        </select>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label">Number of Instances</label>
      <div class="controls">
        <select name="numberOfNode">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
    </div>
    </fieldset>
    
    <div class="form-actions">
        <input type="submit" name="action" class="btn btn-primary" value="Run!">
        <input type="submit" name="action" class="btn" value="Previous">
    </div>
  }
}