@(jobForm : Form[Job])

@import helper._
@import helper.twitterBootstrap._

@main(Html("Cloud Test Base Service")) {
  @helper.form(action = routes.Wizard.submit(1), 'class -> "form-horizontal") {
    <fieldset>
      <legend>Step 1:</legend>
      
      <div class="control-group">
        <label class="control-label" for="git">Git URL</label>
        <div class="controls">
          <input type="text" id="git" name="git" value="@jobForm("git").value" placeholder="Git URL">
        </div>
      </div>

    
      <div class="control-group">
        <label class="control-label">Type</label>
        <div class="controls">
          <ul class="responsive-utilities-test">
            <li>Functional<span class="visible-phone">✔ Functional</span></li>
            <li>Performance</li>
          </ul>
        </div>
      </div>
            
      <div class="control-group">
        <label class="control-label">Browser</label>
        <div class="controls">
          <ul class="responsive-utilities-test">
            <li>Firefox<span class="visible-phone">✔ Firefox</span></li>
            <li>Chrome</li>
            <li>Internet Explorer</li>
          </ul>
        </div>
      </div>
      
    </fieldset>
    
    <div class="form-actions">
      <input type="submit" class="btn btn-primary" value="Go to step 2">
    </div>
  }
}