<nav id="left-panel" style="height: 100%; position: fixed; top: 0px; left: 0px;">
  <div id="left-panel-content" style="overflow: hidden;">
    <ul style="transition-property: -moz-transform; transform-origin: 0px 0px 0px; transform: translate(0px, 0px);">
      <li class="active">
        <a href="javascript:void(0);" onclick="jsRoutes.controllers.Demo.dashboard().ajax({ success: function(data){ $('#main-page').html(data); }});">
        <!-- <a href="@routes.Demo.dashboard()"> -->
        <span class="icon-windows"></span>Machine
        </a>
      </li>
    </ul>
  </div>

  <div class="icon-caret-down"></div>
  <div class="icon-caret-up"></div>
  
</nav>