<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>SME AdminFlare</title>
    <meta content="" name="description">
    <meta content="width=device-width" name="viewport">
    
    <script type="text/javascript" src="@routes.Assets.at("/public", "javascripts/modernizr-jquery.min.js")"></script>
    
    <script type="text/javascript" src="@routes.Assets.at("/public", "javascripts/bootstrap.min.js")"></script>
    
    <script type="text/javascript" src="@routes.Assets.at("/public", "javascripts/adminflare.min.js")"></script>
    
    <script type="text/javascript" src="@routes.Assets.at("/public", "javascripts/demo.js")"></script>
    
    <script type="text/javascript" src="@controllers.vm.routes.VirtualMachine.ajax()"></script>
    
    <link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("/public", "stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("/public", "stylesheets/adminflare.min.css")">
    <link rel="stylesheet" type="text/css"  href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700">

    <script type="text/javascript">
      $(document).ready(function() {
    	  prettyPrint();
      });
    </script>  
  </head>
  
  <body class=" fluid-layout">
    
    @navbar()
    
    @leftMenu()
        
    <section id="vm-main-page" class="container" style="display: block;">
    @vm.machine()
    </section>
    
    <section id="project-main-page" class="container" style="display: none;">
      
    </section>
    
    <section id="selenium-main-page" class="container" style="display: none;">
    
    </section>
    
    <section id="performace-main-page" class="container" style="display: none;">
      
    </section>
    <div class="notifications top-right"></div>
  </body>
</html>