@(title: Html, nav: String = "")(content: Html)

<!DOCTYPE HTML>

<html>
  
  <head>
    <title>Cloud Test Base Service</title>
    
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("/public", "stylesheets/bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("/public", "stylesheets/docs.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("/public", "images/favicon.png")">
    <script type="text/javascript" src="@routes.Assets.at("/public", "javascripts/jquery-1.9.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("/public", "javascripts/bootstrap.js")"></script>
  </head>
  
  <body>
  
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="@routes.Application.index()">Cloud Testing Service</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="@routes.Application.index()">HOME</a>
              </li>
            </ul>
          </div>        
        </div>
      </div>
    </div>
  
    <div class="container">

      <div class="content">

          <h1>@title</h1>

        <div class="row">
          <div class="span12">
            @content
          </div>
        </div>

      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <p>
          <a href="javascript:void(0)">SME CLOUD TEST SERVICE</a>
        </p>
      </div>
    </footer>
  </body>
</html>